<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <!-- css -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="assets/js/lib/html2canvas.js"></script>
</head>
<body>
    <div id="app" class="factura" style="min-width: 100%;">
        <h5>RESTAURANTE RICO MONDONGO</h5>
        <h6>CELMIRA LOBELO TAPIA</h6>
        <h6>NIT: 33138369-6 REG COMUN</h6>
        <h6>FACTURA DE VENTA</h6>
        <div style="margin-top: 10px;">
            <h6>Cliente: {{factura.cliente.nombre}}</h6>
            <h6>Direccion: {{factura.cliente.direccion}}</h6>
            <h6>Telefono: {{factura.cliente.telefono}}</h6> 
        </div>
        <table style="margin: 30px 10px;">
            <thead>
                <tr>
                  <th>Plato</th>
                  <th>cant</th>
                  <th>Total</th>
                </tr>
              </thead>
            <tbody>
                <tr v-for="item in factura.pedido.platos">
                    <td>{{item.nombre}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.total}}</td>
                </tr>
            </tbody>
        </table>
        <h6>GRACIAS POR SU COMPRA</h6>
        <h6>DOCUMENTO EQUIVALENTE</h6>
    </div>
    <script>
        const path = require('path')
        const fs = require('fs')
        const html2canvas  = require('html2canvas')
        const jsPDF = require('jspdf/dist/jspdf.node.min')
        
        var app = new Vue({
            el: '#app',
            data: {
                factura: ''
            },
            created() {
                try {
                    this.factura = JSON.parse(fs.readFileSync(path.join( __dirname, '/../factura.json'), 'utf8'))
                } catch (err) {
                    console.error(err)
                }
                console.log(this.factura)
            },
        })
        global.window = {document: {createElementNS: () => {return {}} }};
        global.navigator = {};
        global.btoa = () => {};

        doc = new jsPDF({
            orientation: 'p',
            unit: 'mm',
            format: [200, 70]
        })

        var container = document.body; // full page 
        html2canvas(container).then(function(canvas) {
            var image = canvas.toDataURL("image/png");
            doc.addImage(image, 'JPEG', 15, 0, 34, 37);
        });

        fs.writeFileSync(`./facturas/${app.factura.cliente.nombre}.pdf`, doc.output())
        
    </script>
</body>
</html>