<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>

    <!-- css -->
    <link rel="stylesheet" href="../css/index.css">

    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper orange lighten-3">
          <a href="#" class="brand-logo center">Rico Mondongo</a>
        </div>
    </nav>
    <div class="row">
        <div class="marcoLateral" style="padding: 0px 0px;">
            <div class="collection barraLateral" style="margin: 0px 0px;">
                <a href="#!" class="collection-item active ">Pedido<div class="secondary-content"><i class="material-icons">chevron_right</i></div></a>
                <a href="../views/menu.html" class="collection-item">Menu<div class="secondary-content"><i class="material-icons">chevron_right</i></div></a>
                <a href="../views/domicilio.html" class="collection-item">Domicilio<div class="secondary-content"><i class="material-icons">chevron_right</i></div></a>
            </div>
        </div>
        <div id="app" style="margin-left: 200px;">
            <div class="col s12 m12 tabla-pedidos">
                <h5>Pedidos Pendientes</h5>
                <table>
                    <thead>
                      <tr>
                        <th style="width: 13%;">Cliente</th>
                        <th style="width: 10%;">telefono</th>
                        <th style="width: 15%;">Barrio</th>
                        <th style="width: 13%;">Total</th>
                        <th style="width: 17%;">tiempo</th> 
                        <th style="width: 17%;">Opciones</th>
                      </tr>
                    </thead>
                </table>
                <div  style="overflow-y: scroll; height: 80%;">
                    <table v-if="pendientes!=undefined">
                        <tbody>
                          <tr v-for="pedido in pendientes">
                            <td style="width: 13%;">{{pedido.cliente.nombre}}</td>
                            <td style="width: 10%;">{{pedido.cliente.telefono}}</td>
                            <td style="width: 15%;">{{pedido.cliente.barrio}}</td>
                            <td style="width: 13%;">{{formatoMoneda(pedido.pedido.total)}}</td>
                            <td style="width: 17%;">{{getTimeAgo(pedido.pedido.fechaHora)}}</td>
                            <td style="width: 17%;">
                              <a v-on:click="imprimir(pedido)" class="waves-effect waves-teal btn-flat"><i class="material-icons">receipt</i></a>
                              <a v-on:click="marcarPedidoEntregado(pedido)" class="waves-effect waves-teal btn-flat"><i class="material-icons">send</i></a>
                              <a v-on:click="eliminarPorID(pedido)" class="waves-effect waves-teal btn-flat"><i class="material-icons">delete</i></a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12 m12 tabla-pedidos">
                <h5>Pedidos Entregados</h5>
                <table>
                    <thead>
                      <tr>
                        <th style="width: 13%;">Cliente</th>
                        <th style="width: 10%;">telefono</th>
                        <th style="width: 15%;">Barrio</th>
                        <th style="width: 13%;">Total</th>
                        <th style="width: 17%;">tiempo</th>
                        <th style="width: 17%;">Opciones</th>
                      </tr>
                    </thead>
                </table>
                <div  style="overflow-y: scroll; height: 80%;">
                    <table v-if="entregados!=undefined">
                        <tbody>
                          <tr v-for="pedido in entregados">
                            <td style="width: 13%;">{{pedido.cliente.nombre}}</td>
                            <td style="width: 10%;">{{pedido.cliente.telefono}}</td>
                            <td style="width: 15%;">{{pedido.cliente.barrio}}</td>
                            <td style="width: 13%;">{{formatoMoneda(pedido.pedido.total)}}</td>
                            <td style="width: 17%;">{{getTimeAgo(pedido.pedido.fechaHora)}}</td>
                            <td style="width: 17%;">
                              <a v-on:click="imprimir(pedido)" class="waves-effect waves-teal btn-flat"><i class="material-icons">receipt</i></a>
                              <a v-on:click="eliminarPorID(pedido)" class="waves-effect waves-teal btn-flat"><i class="material-icons">delete</i></a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-teal"><i class="large material-icons">arrow_back</i></a>
            <ul>
              <li><a v-on:click="eliminar" class="btn-floating green"><i class="material-icons">delete_forever</i></a></li>
              <li><a v-on:click="abrirFormularioPedido" class="btn-floating red"><i class="material-icons">add</i></a></li>
              <li><a v-on:click="refresh" class="btn-floating yellow darken-1"><i class="material-icons">refresh</i></a></li>
            </ul>
          </div>
        </div>
    </div>
    <script src="../controller/pedido.controller.js"></script>
</body>
</html>